<!--The content below is only a placeholder and can be replaced.-->


<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">StatusBrew HQ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Recent Updates</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<p>
<br><br><br>
</p>
<hr>
<!-- body start-->
<div class="image" align="center">

  <img width="1135" height="143" alt="Angular Logo" src="https://affiliate.statusbrew.com/themes/custom/sbaffiliate/images/sb-logo-blue-w-txt.png">

</div>
<hr>
<p>
<br><br><br>
</p>

<!-- tables -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><img width="400" height=400 src="https://www.aureusgroup.com/blog/wp-content/uploads/2017/04/Social-media-icons-400x400.jpg" alt=""></th>
      <th scope="col"><img width="400" height=400 src="http://www.alldesignsolution.com.my/wp-content/uploads/2016/03/social-media-marketing-400x400.jpg" alt=""></th>
      <th scope="col"><img width="400" height=400 src="https://pbs.twimg.com/profile_images/613528605340008448/MdgtPSgE_400x400.png" alt=""></th>
      <th scope="col"><img width="400" height=400 src="https://www.onlinesocialweb.com/wp-content/uploads/2017/10/Twitter-Likes-400x400.jpg" alt=""></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">How To Use Statusbrew Reporting To Measure Your ROI From Social Media?</th>
      <th scope="row">how to Keep Your Social Media Marketing Going While You’re on Vacation</th>
      <th scope="row">Introducing Slack Integration</th>
      <th scope="row">How can you Generate 100 Leads a Week from Twitter</th>
    </tr>
    <tr>
      <td>Author: Rohit Sharma</td>
      <td>Author: Rohit Sharma</td>
      <td>Author: Rohit Sharma</td>
      <td>Author: Rohit Sharma</td>
    </tr>
    <tr>
      <td>Are you curious to know what is the role of ROI (Return on Investment) in Social Media? And why it is important to measure the Social
        Media ROI for your business? Generally, If you ask this question to marketers, they all will give you different answers that increases your doubt
        instead of clearing it. However, they all agree on one thing that social media channels are capable of bringing enormous leads & traffic for websites
        that would eventually convert into customers.</td>

      <td>When social media is part of your business, then it become immensely difficult to decide whether to take off some time from work or not But, like any normal human being you also deserve to take some time off from work to get relaxed and re-focused. It is normal to have apprehensions about whether unplugging from social media would bring negative consequences to your business.However, if you think that you are the only one who is getting this weird thought to detox from social media, then you are not alone. In fact in a recent study conducted by eConsultancy proved that a large number of social media users occasionally cut off from this platform to feel relaxed.</td>

      <td>Today we're happy to introduce Slack integration for our Business users! Now this will change the way Brands and Agencies can bring in their teams to collaborate in Social Publishing and Brand Monitoring right from their workspace. When you connect your Statusbrew with one or more Slack channels or workplaces, you would receive instant Slack notifications for all the activities you choose are important for your Business. Over last 2 months, we privately tested Slack for Statusbrew with 100 Brands and Agencies of Team sizes from 2 to 50. On an average Teams had to spend over 30% lesser time on their Publishing workflow and time to reply to their Social DMs & Mentions was reduced by about 60% for some brands.</td>

      <td>With 330 million monthly active users, sending around 500 million tweets daily, Twitter is a powerful platform to get supporters, to share your ideas & thoughts and to reach your future customers and lifelong brand advocates.Twitter is fast unlike other social media platform, it shows tweets in real time. When you publish on it, the people following your business will receive the tweet immediately. But despite all this, there are times when you can't see positive outcomes from your Twitter advertising endeavors.Could it be that you’re not using a social media management tool that gives you tools to publish, connect, and report on Twitter? Let us tell you how Statusbrew raises the bar on Twitter marketing features for businesses and agencies. In this guide, we’ll show you how we utilize Twitter to generate 100 new leads every week, without much investment.But first, let us understand.</td>

    </tr>
  </tbody>
</table>

<!-- tables -->
